.hidden {
  display: none;
}

body {
  background-color: #c70808d5;
  min-height: 100vh;
  min-width: fit-content;
}

.u-tada {
  animation: tada 1200ms infinite;
}

.trainer-img {
  padding-left: 12rem;
}

#pokemon-img {
  height: 169px;
  width: 135px;
}

.type.fire {
  background-color: #f08030;
}

.type.water {
  background-color: #6890f0;
}

.type.grass {
  background-color: #78c850;
}

.type.electric {
  background-color: #f8d030;
}

.type.ice {
  background-color: #98d8d8;
}

.type.fighting {
  background-color: #c03028;
}

.type.poison {
  background-color: #a040a0;
}

.type.ground {
  background-color: #e0c068;
}

.type.flying {
  background-color: #a8c3dd;
}

.type.psychic {
  background-color: #f85888;
}

.type.bug {
  background-color: #a8b820;
}

.type.rock {
  background-color: #5f5111ad;
}

.type.ghost {
  background-color: #705898;
}

.type.dark {
  background-color: #231c1c;
}

.type.normal {
  background-color: #a8a878;
}

.type.steel {
  background-color: #585858;
}

.type.dragon {
  background-color: #7038f8;
}

.type.fairy {
  background-color: #ee99ac;
}

.type {
  border-radius: 20px;
}

table {
  border-collapse: separate;
  border-spacing: 0.5rem;
}

#top,
#bottom,
#left,
#right {
  background: #740808d5;
  position: fixed;
}
#left,
#right {
  top: 0;
  bottom: 0;
  width: 25px;
}
#left {
  left: 0;
}
#right {
  right: 0;
}

#top,
#bottom {
  left: 0;
  right: 0;
  height: 25px;
}
#top {
  top: 0;
}
#bottom {
  bottom: 0;
}
/* Pokeball draw code credited to user DD on CodePen https://codepen.io/dd-monsoon/pen/KgpXpk?editors=1100*/
// Size variable to keep all proportional if manipulate it
$size: 50px;
.o-pokeball {
  width: $size;
  height: $size;
  border-radius: $size;
  border: solid ($size/25) black;
  position: relative;
  background: linear-gradient(to bottom, #eeeeee 0%, #ffffff 100%);
  margin: 10px auto;

  &:before,
  &:after {
    content: "";
    display: block;
  }

  &,
  &:before,
  &:after {
    transition: all 600ms cubic-bezier(0.67, 0.4, 0.36, 0.75);
  }

  &:before {
    width: $size;
    height: ($size/2) - ($size/25/2);
    border-bottom: solid ($size/25) black;
    border-radius: ($size/2) ($size/2) 0 0;
    background: linear-gradient(to bottom, #d10000 0%, #ff0000 50%);
  }

  &:after {
    content: "";
    width: $size/5;
    height: $size/5;
    background: linear-gradient(to bottom, #fff 0%, #ccc 100%);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    box-shadow: 0 0 0 ($size/50) black, 0 0 0 ($size/25) #ddd,
      0 0 0 ($size/14) black, 0 0 ($size/10) ($size/17) rgba(0, 0, 0, 0.4);
  }
}
