{% extends 'base.html' %} {% block title %} Build Your Pokemon Team {% endblock
%} {% block content %}
<h1>Build Your Pokemon Team</h1>
{% if g.user %}
<a href="/logout">Logout</a>
<a href="/profile">Profile</a>
{% endif %}
<form id="search-form" >
<input type="text" placeholder="Search pokemon by name" id="search-term"></input>
<button>
<i class="fa fa-search"></i>
</button>
</form>

<div id="loader" class="o-pokeball c-loader u-tada hidden"></div>

<div id="search-error" class="hidden">Sorry we don't know that Pokemon!</div>

<div id="pokemon-card">
  <p id="pokemon-name"></p>
  <span id="pokemon-type"></span>
  <img id="pokemon-img" />
  <div id="pokemon-stats"></div>
  <button id="add-btn" class="hidden">Add to Team</button>
</div>

<div id="team-error" class="hidden">Team is full! Please delete a Pokemon to add another</div>

<div id="team-list"></div>

{% if g.user %}

<p id="save-team-message"></p>
<div id="save-team" class="hidden">
  <form>
    <input type="text" id="team-name" placeholder="Name your team">
    <button type="submit">Save</button>
  </form>
</div>
{% else %}
<p><a href="/login">Login</a> or <a href="/register">Register</a> to save your team</p>
{% endif %}
<table>
  <thead>
    <tr>
      <th>Types</th>
      <th>Weakness</th>
      <th>Resist</th>
      <th>Immune</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="fire">Fire</td>
      <td class="stat fire" id="weak_against">0</td>
      <td class="stat fire" id="resists">0</td>
      <td class="stat fire" id="immune_to">0</td>
    </tr>
    <tr>
      <td class="water">Water</td>
      <td class="stat water" id="weak_against">0</td>
      <td class="stat water" id="resists">0</td>
      <td class="stat water" id="immune_to">0</td>
    </tr>
    <tr>
      <td class="grass">Grass</td>
      <td class="stat grass" id="weak_against">0</td>
      <td class="stat grass" id="resists">0</td>
      <td class="stat grass" id="immune_to">0</td>
    </tr>
    <tr>
      <td class="electric">Electric</td>
      <td class="stat electric" id="weak_against">0</td>
      <td class="stat electric" id="resists">0</td>
      <td class="stat electric" id="immune_to">0</td>
    </tr>
    <tr>
      <td class="ice">Ice</td>
      <td class="stat ice" id="weak_against">0</td>
      <td class="stat ice" id="resists">0</td>
      <td class="stat ice" id="immune_to">0</td>
    </tr>
    <tr>
      <td class="fighting">Fighting</td>
      <td class="stat fighting" id="weak_against">0</td>
      <td class="stat fighting" id="resists">0</td>
      <td class="stat fighting" id="immune_to">0</td>
    </tr>
    <tr>
      <td class="poison">Poison</td>
      <td class="stat poison" id="weak_against">0</td>
      <td class="stat poison" id="resists">0</td>
      <td class="stat poison" id="immune_to">0</td>
    </tr>
    <tr>
      <td class="ground">Ground</td>
      <td class="stat ground" id="weak_against">0</td>
      <td class="stat ground" id="resists">0</td>
      <td class="stat ground" id="immune_to">0</td>
    </tr>
    <tr>
      <td class="flying">Flying</td>
      <td class="stat flying" id="weak_against">0</td>
      <td class="stat flying" id="resists">0</td>
      <td class="stat flying" id="immune_to">0</td>
    </tr>
    <tr>
      <td class="psychic">Psychic</td>
      <td class="stat psychic" id="weak_against">0</td>
      <td class="stat psychic" id="resists">0</td>
      <td class="stat psychic" id="immune_to">0</td>
    </tr>
    <tr>
      <td class="bug">Bug</td>
      <td class="stat bug" id="weak_against">0</td>
      <td class="stat bug" id="resists">0</td>
      <td class="stat bug" id="immune_to">0</td>
    </tr>
    <tr>
      <td class="rock">Rock</td>
      <td class="stat rock" id="weak_against">0</td>
      <td class="stat rock" id="resists">0</td>
      <td class="stat rock" id="immune_to">0</td>
    </tr>
    <tr>
      <td class="ghost">Ghost</td>
      <td class="stat ghost" id="weak_against">0</td>
      <td class="stat ghost" id="resists">0</td>
      <td class="stat ghost" id="immune_to">0</td>
    </tr>
    <tr>
      <td class="dark">Dark</td>
      <td class="stat dark" id="weak_against">0</td>
      <td class="stat dark" id="resists">0</td>
      <td class="stat dark" id="immune_to">0</td>
    </tr>
    <tr>
      <td class="normal">Normal</td>
      <td class="stat normal" id="weak_against">0</td>
      <td class="stat normal" id="resists">0</td>
      <td class="stat normal" id="immune_to">0</td>
    </tr>
    <tr>
      <td class="steel">Steel</td>
      <td class="stat steel" id="weak_against">0</td>
      <td class="stat steel" id="resists">0</td>
      <td class="stat steel" id="immune_to">0</td>
    </tr>
    <tr>
      <td class="dragon">Dragon</td>
      <td class="stat dragon" id="weak_against">0</td>
      <td class="stat dragon" id="resists">0</td>
      <td class="stat dragon" id="immune_to">0</td>
    </tr>
    <tr>
      <td class="fairy">Fairy</td>
      <td class="stat fairy" id="weak_against">0</td>
      <td class="stat fairy" id="resists">0</td>
      <td class="stat fairy" id="immune_to">0</td>
    </tr>
  </tbody>
  </table>
{% endblock %}
