{% extends 'base.html' %} {% block title %} Build Your Pokemon Team {% endblock
%} {% block content %}
<h1>Build Your Pokemon Team</h1>
{% if g.user %}
<a href="/logout">Logout</a>
<a href="/profile">Profile</a>
{% endif %}
<form id="search-form" >
<input type="text" placeholder="Search pokemon by name" id="search-term"></input>
<button>
<i class="fa fa-search"></i>
</button>
</form>

<div id="loader" class="o-pokeball c-loader u-tada hidden"></div>

<div id="search-error" class="hidden">Sorry we don't know that Pokemon!</div>

<div id="pokemon-card">
  <p id="pokemon-name"></p>
  <span id="pokemon-type"></span>
  <img id="pokemon-img" />
  <div id="pokemon-stats"></div>
  <button id="add-btn" class="hidden" formmaction="/">Add to Team</button>
</div>
<div id="team-error" class="hidden">Team is full! Please delete a Pokemon to add another</div>
<div id="team-list"></div>


{% endblock %}
